@model Homework.Models.Teacher
@{
    ViewBag.Title = "Teacher";
}

@section javascript
{
    <script src="~/js/app/app.js"></script>

    <script src="~/js/app/store/store.js"></script>

    @Scripts.Render("~/bundles/models")
    @Scripts.Render("~/bundles/controllers")
    @Scripts.Render("~/bundles/views")
    
    <script src="~/js/app/routes/router.js"></script>
}

<script type="application/json" id="app-metadata">
    @Html.ToJson(Model)

</script>

<script type="text/x-handlebars" data-template-name="application">
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">Homework</a>
                <ul class="nav">
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a>Welcome, {{App.router.teacherController.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="teacher">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="courses">
    <h3>Course List</h3>
    <ul>
    {{#each content}}
        <li><a {{action displayCourse this href=true}}>{{period}} - {{subject}}</a></li>
    {{/each}}
    </ul>

</script>

<script type="text/x-handlebars" data-template-name="course-details">
    <div>
        <a {{action displayList href=true}}>Back to List</a>
    </div>
    <h3>{{subject}}, Period {{period}}</h3>
    {{outlet assignments}}
    {{outlet students}}
</script>

<script type="text/x-handlebars" data-template-name="assignments">
    <h4>Assignments</h4>
    <a class="btn" href="#"{{action addAssignmentDialog target="controller"}}><i class="icon-plus"></i> Add Assignment</a>
    <ul class="assignments">
    {{#each content}}
        <li class="clearfix">
            <div class="pull-left">
                <div>{{title}}</div>
                <div>Due: {{dueDate}}</div>
            </div>
            <div class="pull-right">
                <a href="#" class="btn" {{action editAssignmentDialog this target="controller"}}>Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </li>
    {{/each}}
    </ul>
    
    {{view App.AssignmentDialogView controllerBinding="assignmentDialogController"}}
</script>

<script type="text/x-handlebars" data-template-name="assignment-dialog">
    <div class="modal-header">
        <button {{action saveAssignment}} type="button" class="close" aria-hidden="true">&times;</button>
        <h3>{{dialogTitle}}</h3>
    </div>
    <div class="modal-body">
        <label>Title</label>{{view Em.TextField valueBinding="content.title"}}
        <label>Due Date</label>{{view App.DateField valueBinding="content.dueDate"}}
    </div>
    <div class="modal-footer">
        <a {{action cancel target="controller"}} class="btn">Cancel</a>
        <a {{action saveAssignment}} class="btn btn-primary">Save changes</a>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="students">
    <h4>Students</h4>
    <a href="#" class="btn" {{action openStudentDialog target="controller"}}><i class="icon-plus"></i> Add Student</a>
    {{#if content.length}}
        <ul class="students">
        {{#each content}}
            <li class="clearfix">
                <div class="pull-left">
                    {{name}}
                </div>
                <div class="pull-right">
                    <a href="#" {{action removeStudentFromCourse this}} class="btn btn-danger">Remove</a>
                </div>
            </li>
        {{/each}}
        </ul>
    {{else}}
        <div>
            There are no students in this class.
        </div>
    {{/if}}

    {{view App.StudentDialogView controllerBinding="studentDialogController"}}
</script>

<script type="text/x-handlebars" data-template-name="student-dialog">
    <div class="modal-header">
        <button {{action addStudent}} type="button" class="close" aria-hidden="true">&times;</button>
        <h3>Add Student</h3>
    </div>
    <div class="modal-body">
        <label>Student</label>
        {{view Ember.Select contentBinding="content" 
            optionValuePath="content.id" 
            optionLabelPath="content.name" 
            selectionBinding="selected"}}
    </div>
    <div class="modal-footer">
        <a {{action cancel target="controller"}} class="btn">Cancel</a>
        <a {{action addStudentToCourse}} class="btn btn-primary">Add to course</a>
    </div>
</script>